/* https://coolors.co/f2cd5d-639a88-3a5683-2708a0-c1666b
 */

body {
    background: #F2CD5D;
    display: grid;
}

#content {
    grid-column-start: 2;
    margin-left: 20%;
    margin-right: 20%
}

#menu {
    position: fixed;
    grid-column-start: 1;
    margin-left: 2rem;
}

#footer {
    position: absolute;
    grid-row-start: 2;

}